body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgba(139, 168, 151, 0.918);
}

p,
span {
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.circle {
  position: relative;
}

.circle:before {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: #050505;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

.circle:after {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: #050505;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

#listContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
}
#listContainer #addItem {
  margin-top: 10px;
}
#listContainer ul {
  list-style: none;
  border-radius: 5px;
  padding: 20px;
}
#listContainer ul li {
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 240px;
}
#listContainer button {
  margin: 10px;
  background-color: rgba(139, 168, 151, 0.918);
}

.markeddone {
  text-decoration: line-through;
}